.title{
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.trashcan{
  cursor: pointer;
  margin-bottom: 5px;
}
.App {
  text-align: center;
}

.item{
  padding-top: 30px;
}

.form{
  padding-bottom: 30px;
  padding-top: 30px
}
@media only screen and (max-width: 600px) {
  .inputBtn{
    padding-bottom: 30px;
    padding-top: 30px
  }
}
#picker{
  float:right;
  margin-right: 120px;
  margin-top: 30px;
}

#picker2{
  position:fixed;
}
